.add_toDo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.add_toDo input {
    width: 100%;
    border: 1px solid rgb(31, 43, 67);
    padding: 10px;
    font-size: 16px;
    background: rgb(61, 80, 119);
    color: white;
    outline: none;
}

.add_toDo .btn {
    background: transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(236, 158, 13);
    cursor: pointer;
    border: 1px solid rgb(236, 158, 13);
    transition: all 0.3s;
}

.add_toDo .btn:hover {
    background: rgb(236, 158, 13);
    color: white;
}

.preview_tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.massage {
    text-align: center;
    color: #ffffff70;
}